<div class="detail-cmain">
    <div class="detail-content afcbc-body" data-role="content" itemprop="articleBody">
        <div data-check-position="body_start"></div>
        <div class="detail-cover">
        </div>
        <p>Ngày 21-6, lãnh đạo Công an tỉnh Quảng Nam cho biết Cơ quan CSĐT Công an tỉnh đã ra quyết định tạm giữ hình
            sự tài xế Lê Xuân Hưng (44 tuổi; trú tỉnh Vĩnh Phúc) để điều tra vì liên quan đến vụ tai nạn giao thông chết
            người trên tuyến cao tốc Đà Nẵng – Quảng Ngãi.</p>
        <figure class="VCSortableInPreviewMode noCaption" style="" type="Photo">
            <div><img alt="Tạm giữ tài xế dừng xe trên cao tốc để ngủ, dẫn đến vụ tai nạn kinh hoàng- Ảnh 1."
                      data-author=""
                      data-original="https://nld.mediacdn.vn/291774122806476800/2025/6/21/z6719563251350ac99e06dbe6437d399476b66c4c800d3-1750493352853260546244.jpg"
                      h="614" height="614" id="img_163498490041909248" loading="lazy" photoid="163498490041909248"
                      rel="lightbox"
                      src="https://nld.mediacdn.vn/thumb_w/698/291774122806476800/2025/6/21/z6719563251350ac99e06dbe6437d399476b66c4c800d3-1750493352853260546244.jpg"
                      style="max-width:100%;"
                      title="Tạm giữ tài xế dừng xe trên cao tốc để ngủ, dẫn đến vụ tai nạn kinh hoàng- Ảnh 1."
                      type="photo" w="898" width="898"/></div>
            <figcaption class="PhotoCMS_Caption"><p class="NLPlaceholderShow" data-placeholder="Nhập chú thích ảnh"></p>
            </figcaption>
        </figure>
        <figure class="VCSortableInPreviewMode" style="" type="Photo">
            <div><img alt="Tạm giữ tài xế dừng xe trên cao tốc để ngủ, dẫn đến vụ tai nạn kinh hoàng- Ảnh 2."
                      data-author=""
                      data-original="https://nld.mediacdn.vn/291774122806476800/2025/6/21/z67195632547015df39bfc6a2b32c315a035db9325a535-1750493353592815180915.jpg"
                      h="762" height="762" id="img_163498488531021824" loading="lazy" photoid="163498488531021824"
                      rel="lightbox"
                      src="https://nld.mediacdn.vn/thumb_w/698/291774122806476800/2025/6/21/z67195632547015df39bfc6a2b32c315a035db9325a535-1750493353592815180915.jpg"
                      style="max-width:100%;"
                      title="Tạm giữ tài xế dừng xe trên cao tốc để ngủ, dẫn đến vụ tai nạn kinh hoàng- Ảnh 2."
                      type="photo" w="1155" width="1155"/></div>
            <figcaption class="PhotoCMS_Caption"><p class="" data-placeholder="Nhập chú thích ảnh">Hiện trường vụ tai
                nạn kinh hoàng làm 2 người chết, nhiều người bị thương trên cao tốc Đà Nẵng - Quảng Ngãi</p>
            </figcaption>
        </figure>
        <p>Trước đó, khoảng 2 giờ sáng 19-6, xe khách 45 chỗ ngồi lưu thông trên tuyến cao tốc Đà Nẵng - Quảng Ngãi theo
            hướng Bắc - Nam, khi đến địa phận xã Bình Chánh (huyện Thăng Bình, tỉnh Quảng Nam) thì tông mạnh vào đuôi xe
            container do tài xế Lê Xuân Hưng điều khiển, đang dừng tại làn đường khẩn cấp.</p>
        <p>Hậu quả, ông Phạm Đức T. (49 tuổi, tài xế xe khách) và ông Nguyễn Văn Th (phụ xe) tử vong tại chỗ; 16 hành
            khách được đưa vào bệnh viện cấp cứu, trong đó có 1 ca nặng, 2 ca gãy xương đùi, còn lại bị thương nhẹ; 7
            trường hợp được xuất viện sau khi được chăm sóc y tế.</p><!-- bonewsrelation -->
        <div class="VCSortableInPreviewMode alignRight" data-style="align-right" relatednewsboxtype="type-3"
             type="RelatedNewsBox">
            <div class="kbwscwl-relatedbox type-3 nguoilaodong"><!-- react-text: 93 --> <!-- /react-text -->
                <ul class="kbwscwlr-list">
                    <li class="kbwscwlrl"
                        data-avatar="https://nld.mediacdn.vn/291774122806476800/2025/6/19/tai-1-1750292372042545822868-87-0-686-958-crop-1750292602427565806147.jpg"
                        data-date="19/06/2025 07:47" data-id="196250619072514983"
                        data-title="Tai nạn kinh hoàng trên cao tốc Đà Nẵng - Quảng Ngãi, 2 người chết, nhiều người bị thương "
                        data-url="/tai-nan-kinh-hoang-tren-cao-toc-da-nang-quang-ngai-2-nguoi-chet-nhieu-nguoi-bi-thuong-196250619072514983.htm">
                        <h4 class="kbwscwlrl-title"><a class="title link-callout"
                                                       href="/tai-nan-kinh-hoang-tren-cao-toc-da-nang-quang-ngai-2-nguoi-chet-nhieu-nguoi-bi-thuong-196250619072514983.htm"
                                                       target="_blank">Tai nạn kinh hoàng trên cao tốc Đà Nẵng - Quảng
                            Ngãi, 2 người chết, nhiều người bị thương </a><a class="kbwscwlrl-next link-callout"
                                                                             href="/tai-nan-kinh-hoang-tren-cao-toc-da-nang-quang-ngai-2-nguoi-chet-nhieu-nguoi-bi-thuong-196250619072514983.htm"
                                                                             target="_blank">ĐỌC NGAY</a>
                            <div style="clear: both;"></div><!-- react-text: 100 --> <!-- /react-text --></h4>
                    </li>
                </ul>
            </div>
        </div><!-- eonewsrelation --><p>Ban đầu, tài xế Hưng khai do buồn ngủ nên dừng xe ở làn khẩn cấp và đang ngủ thì
        xe khách đâm vào sau xe container.</p>
        <p>Ngay sau vụ tai nạn xảy ra, ông Lê Văn Dũng - Chủ tịch UBND tỉnh, Trưởng Ban An toàn giao thông tỉnh Quảng
            Nam, đã đến bệnh viện thăm hỏi các nạn nhân và gia đình.</p>
        <p>Ông Dũng cũng đã ban hành công văn yêu các ngành chức năng khẩn trương khắc phục hậu quả, điều tra làm rõ vụ
            tai nạn giao thông đường bộ đặc biệt nghiêm trọng này.</p>
        <!--Sat Jun 21 2025 16:02:48 GMT+0700 (Gi&#7901; &#272;&#244;ng D&#432;&#417;ng) -- null -- Sat Jun 21 2025 16:02:48 GMT+0700 (Gi&#7901; &#272;&#244;ng D&#432;&#417;ng)-->
        <script>
            //Chèn ads giữa bài
            (runinit = window.runinit || []).push(function () {
                //Nếu k chạy ads thì return
                if (typeof _chkPrLink != 'undefined' && _chkPrLink)
                    return;

                var adsId = 'lmeadybm';
                var mutexAds = '<zone id="' + adsId + '"></zone>';
                var content = $('[data-role="content"]');
                if (content.length > 0) {
                    var childNodes = content[0].childNodes;
                    for (i = 0; i < childNodes.length; i++) {
                        var childNode = childNodes[i];

                        var isPhotoOrVideo = false;
                        if (childNode.nodeName.toLowerCase() == 'div') {
                            // kiem tra xem co la anh khong?
                            var type = $(childNode).attr('class') + '';

                            if (type.indexOf('VCSortableInPreviewMode') >= 0) {
                                isPhotoOrVideo = true;
                            }
                        }

                        try {
                            if ((i >= childNodes.length / 2 - 1) && (i < childNodes.length / 2) && !isPhotoOrVideo) {
                                if (i <= childNodes.length - 3) {
                                    childNode.after(htmlToElement(mutexAds));
                                    arfAsync.push(adsId);
                                }
                                break;
                            }
                        } catch (e) {
                        }
                    }
                }
            });

            function htmlToElement(html) {
                var template = document.createElement('template');
                template.innerHTML = html;
                return template.content.firstChild;
            }
        </script>
        <zone id="lw61uyys"></zone>
        <script>
            if (pageSettings.allow3rd) arfAsync.push("lw61uyys");
        </script>
        <div class="clearfix" data-check-position="body_end"></div>
    </div>
</div>