<div
        x-data="{
        activeSlide: 0,
        slides: {{ hot_news }},
        paused: false,
                init() {
                    setInterval(() => {
                        if (!this.paused) {
                            this.activeSlide = (this.activeSlide + 0.5) % this.slides.length;
                        }
                    }, 5000);
                }
      }"
        x-init="init()"
        @mouseenter="paused = true"
        @mouseleave="paused = false"
        class="col-span-2 row-span-3 bg-white rounded-1xl shadow overflow-hidden relative h-[300px]"
>

    <!-- Slide Content -->
    <template x-for="(slide, index) in slides" :key="index">
        <a :href="`/vn-vi/news/${slide.link}`" target="_blank" class="block col-span-1 row-span-1">
            <div x-show="activeSlide === index" x-transition class="absolute inset-0 w-full h-full">
                <img :src="slide.image_url" alt="" class="w-full h-full object-cover">
                <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/70 to-transparent text-white p-4">
                    <h3 class="text-lg font-semibold" x-text="slide.title"></h3>
                </div>
            </div>
        </a>
    </template>

    <!-- Dot Controls -->
    <div class="absolute bottom-3 right-4 flex space-x-2">
        <template x-for="(slide, index) in slides" :key="index">
            <button @click="activeSlide = index"
                    :class="activeSlide === index ? 'bg-white' : 'bg-gray-400'"
                    class="w-3 h-3 rounded-full transition-colors duration-300"></button>
        </template>
    </div>
</div>